In [13]:
import pandas as pd

In [14]:
df=pd.read_csv("Port_Data.csv")

df.head(3)

,Unnamed: 0,Country,Port Name,UN Code,Vessels in Port,Departures(Last 24 Hours),Arrivals(Last 24 Hours),Expected Arrivals,Type,Area Local,Area Global,Also known as
0,0,China,SHANGHAI,CNSHG,2420,1376,1626,644,Port,East China Sea,Central China,"['SHANG HAI', ' YANGSHAN', ' CNSHA', ' CNSGH']"
1,1,China,NANTONG,CNNTG,1572,1173,1287,234,Port,East China Sea,Central China,['NAN TONG']
2,2,China,CJK,CNCJK,1529,343,370,310,Anchorage,East China Sea,Central China,"['CHANGJIANGKOU', ' CHANGJIANG KOU', ' CJK CN']"

In [15]:
df.shape

(480, 12)

In [16]:
#if the country name is china and the type is anchorage

df['Country'] = df['Country'].str.strip().str.capitalize()
df['Type'] = df['Type'].str.strip().str.capitalize()

f1 = df[(df['Country'] == 'China') & (df['Type'] == 'Anchorage')]
print(f1.head(3))

    Unnamed: 0 Country      Port Name UN Code  Vessels in Port  \
2            2   China            CJK   CNCJK             1529
10          10   China   JINZHOU ANCH       -              863
18          18   China  HUANGHUA ANCH       -              602

    Departures(Last 24 Hours)  Arrivals(Last 24 Hours)  Expected Arrivals  \
2                         343                      370                310
10                        192                      292                  5
18                        344                      399                  1

         Type      Area Local    Area Global  \
2   Anchorage  East China Sea  Central China
10  Anchorage       Bohai Sea    North China
18  Anchorage       Bohai Sea    North China

                                      Also known as
2   ['CHANGJIANGKOU', ' CHANGJIANG KOU', ' CJK CN']
10                                            ['-']
18                                            ['-']

In [17]:
# if arrivals are greater than the departures by a 100
f2=df[df["Arrivals(Last 24 Hours)"]-df["Departures(Last 24 Hours)"]>100]
f2.head(3)

,Unnamed: 0,Country,Port Name,UN Code,Vessels in Port,Departures(Last 24 Hours),Arrivals(Last 24 Hours),Expected Arrivals,Type,Area Local,Area Global,Also known as
0,0,China,SHANGHAI,CNSHG,2420,1376,1626,644,Port,East China Sea,Central China,"['SHANG HAI', ' YANGSHAN', ' CNSHA', ' CNSGH']"
1,1,China,NANTONG,CNNTG,1572,1173,1287,234,Port,East China Sea,Central China,['NAN TONG']
3,3,China,NANJING,CNNKG,1414,667,1060,203,Port,East China Sea,Central China,"['NAN JING', ' NAN JIN', ' NANJIN']"

In [18]:
#create an array where null value rows are deleted
f3=df.dropna()
print(f3.head())

#create an array where null value cols are deleted
f4=df.dropna(axis=1)
print(f4.head(3))

   Unnamed: 0 Country Port Name UN Code  Vessels in Port  \
0           0   China  SHANGHAI   CNSHG             2420
1           1   China   NANTONG   CNNTG             1572
2           2   China       CJK   CNCJK             1529
3           3   China   NANJING   CNNKG             1414
4           4   China  JIANGYIN   CNJIA             1112

   Departures(Last 24 Hours)  Arrivals(Last 24 Hours)  Expected Arrivals  \
0                       1376                     1626                644
1                       1173                     1287                234
2                        343                      370                310
3                        667                     1060                203
4                       1076                     1070                166

        Type      Area Local    Area Global  \
0       Port  East China Sea  Central China
1       Port  East China Sea  Central China
2  Anchorage  East China Sea  Central China
3       Port  East China Sea  Central China
4       Port  East China Sea  Central China

                                     Also known as
0   ['SHANG HAI', ' YANGSHAN', ' CNSHA', ' CNSGH']
1                                     ['NAN TONG']
2  ['CHANGJIANGKOU', ' CHANGJIANG KOU', ' CJK CN']
3              ['NAN JING', ' NAN JIN', ' NANJIN']
4                 ['-', ' JANG JIN', ' JIANG YIN']
   Unnamed: 0 Country Port Name  Vessels in Port  Departures(Last 24 Hours)  \
0           0   China  SHANGHAI             2420                       1376
1           1   China   NANTONG             1572                       1173
2           2   China       CJK             1529                        343

   Arrivals(Last 24 Hours)  Expected Arrivals       Type      Area Local  \
0                     1626                644       Port  East China Sea
1                     1287                234       Port  East China Sea
2                      370                310  Anchorage  East China Sea

     Area Global                                    Also known as
0  Central China   ['SHANG HAI', ' YANGSHAN', ' CNSHA', ' CNSGH']
1  Central China                                     ['NAN TONG']
2  Central China  ['CHANGJIANGKOU', ' CHANGJIANG KOU', ' CJK CN']

In [19]:
#if the vessles in port and greater than a 1000 or the depatures are greater than 200
f5=df[(df["Vessels in Port"] > 1000) | (df["Departures(Last 24 Hours)"] > 200)]
f5.head()

,Unnamed: 0,Country,Port Name,UN Code,Vessels in Port,Departures(Last 24 Hours),Arrivals(Last 24 Hours),Expected Arrivals,Type,Area Local,Area Global,Also known as
0,0,China,SHANGHAI,CNSHG,2420,1376,1626,644,Port,East China Sea,Central China,"['SHANG HAI', ' YANGSHAN', ' CNSHA', ' CNSGH']"
1,1,China,NANTONG,CNNTG,1572,1173,1287,234,Port,East China Sea,Central China,['NAN TONG']
2,2,China,CJK,CNCJK,1529,343,370,310,Anchorage,East China Sea,Central China,"['CHANGJIANGKOU', ' CHANGJIANG KOU', ' CJK CN']"
3,3,China,NANJING,CNNKG,1414,667,1060,203,Port,East China Sea,Central China,"['NAN JING', ' NAN JIN', ' NANJIN']"
4,4,China,JIANGYIN,CNJIA,1112,1076,1070,166,Port,East China Sea,Central China,"['-', ' JANG JIN', ' JIANG YIN']"

In [20]:
#where expected arrivals are > actual arrivals print middle ten rows with just 3 cols

import pandas as pd
f6 = df[df["Expected Arrivals"] > df["Arrivals(Last 24 Hours)"]]

tr = len(f6)
midd = tr // 2
start= midd- 5  
end= midd + 5  

middle= f6.iloc[start:end + 1, 0:3]  
print(middle)

     Unnamed: 0       Country     Port Name
255         255         China      JINGTANG
266         266         Egypt    SUEZ CANAL
267         267     Indonesia     PALEMBANG
279         279     Australia  PORT HEDLAND
280         280     Australia     GLADSTONE
282         282         India         SIKKA
283         283         China         XIUYU
288         288  Saudi arabia    RAS TANURA
290         290  South africa        DURBAN
291         291       Nigeria         LAGOS
297         297         China        NINGDE

In [21]:
#print out the median / mode value for Expected arrivals
f7=df["Expected Arrivals"].mean()
f8=df["Expected Arrivals"].median()
f9=df["Expected Arrivals"].mode()
print("Mean=",f7)
print("Median=",f8)
print("Mode=",f9)

Mean= 39.233333333333334
Median= 16.0
Mode= 0    0
Name: Expected Arrivals, dtype: int64

In [22]:
# print out the top 5 countries with the highest gap between the departures and arrivals
df['gap'] = df['Departures(Last 24 Hours)'] - df['Arrivals(Last 24 Hours)']
top= df.sort_values(by='gap', ascending=False).head(5)
f10 = top[['Country', 'Departures(Last 24 Hours)', 'Arrivals(Last 24 Hours)', 'gap']]
print(f10)

            Country  Departures(Last 24 Hours)  Arrivals(Last 24 Hours)  gap
165           China                        193                      114   79
16            China                        204                      129   75
22        Singapore                       1271                     1224   47
325  United kingdom                        152                      106   46
6             China                        653                      608   45

In [24]:
#print out the top 3 ports by number of departures for only the countries that have more than 5 ports
for name, c_df in df.groupby("Country"):
    if len(c_df) > 5:
        print("\nCountry:", name)
        top_ports = c_df["Departures(Last 24 Hours)"].nlargest(3).index
        for index in top_ports:
            print(c_df.at[index, "Port Name"])

Country: Australia
SYDNEY
PORT HEDLAND
FREMANTLE

Country: Belgium
ANTWERP
GHENT
ANTWERP ANCH

Country: Canada
VANCOUVER
PRINCE RUPERT
FALSE CREEK

Country: China
SHANGHAI
NANTONG
JIANGYIN

Country: Denmark
ESBJERG
COPENHAGEN
SKAGEN

Country: France
MARSEILLE
LE HAVRE
SAINT TROPEZ

Country: Germany
NORD-OSTSEE-KANAL
BREMERHAVEN
HAMBURG

Country: Greece
PIRAEUS
ALIMOS
GOUVIA

Country: India
MUMBAI ANCH
MUMBAI
HAZIRA

Country: Indonesia
BATU AMPAR
JAKARTA
TABONEO ANCH

Country: Italy
GENOVA
NAPOLI
VENICE

Country: Japan
YOKOHAMA
TOKYO BAY
KOBE

Country: Korea
BUSAN
YEOSU
ULSAN

Country: Netherlands
ROTTERDAM
ENKHUIZEN
AMSTERDAM

Country: Norway
STAVANGER
OSLO
BERGEN

Country: Russia
NOVOROSSIYSK
VLADIVOSTOK
KAVKAZ SOUTH ANCH

Country: Spain
ALGECIRAS
CADIZ
BARCELONA

Country: Turkey
ISTANBUL
ISTANBUL ANCH
YALOVA

Country: United arab emirates
FUJAIRAH ANCH
FUJAIRAH
JEBEL ALI

Country: United kingdom
COWES
SOUTHAMPTON
LONDON

Country: Usa
SEATTLE
NEW YORK
LONG BEACH